﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="internetkutuphanekitapkiralama.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:Button ID="Button1" runat="server" Text="KITAP SATIŞ " />
        <asp:Button ID="Button2" runat="server" Text="KITAP KIRALAMA" />
    </form>
</body>
</html>
