﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kütüphane Otomasyonu</title>
<style type="text/css">
<!--
body {
	background-image: url(images/px1.jpg);
}
#ortala {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#ortala #orta {
	background-color: #FFF;
	border: thin solid #BFCDDB;
}
    .auto-style1 {
        border-width: 0px;
        width: 799px;
        height: 37px;
    }
    .auto-style2
    {
        border-width: 0px;
        width: 799px;
        height: 150px;
    }
-->
</style></head>

<body>
<div id="ortala">
    <a href="WebForm1.aspx">
    <img alt="" class="auto-style2" src="image1/banner.png" /></a>
    
    <a href="WebForm3.aspx">
    
    <img alt="" class="auto-style1" src="image1/menu.png" /></a>
    <br />

<div id="orta"><br />
  <br />
    <form id="form1" runat="server">
  <table width="508" height="177" border="0" align="center">
    <tr>
      <td width="138">ISBN No:</td>
      <td width="360"><label>
        <input name="textfield" type="text" id="textfield" size="60" />
      </label></td>
    </tr>
    <tr>
      <td>Kitap Adı:</td>
      <td><input name="textfield2" type="text" id="textfield2" size="60" /></td>
    </tr>
    <tr>
      <td>Yazarı:</td>
      <td><input name="textfield3" type="text" id="textfield3" size="60" /></td>
    </tr>
    <tr>
      <td>Sayfa Sayısı:</td>
      <td><input name="textfield4" type="text" id="textfield4" size="60" /></td>
    </tr>
    <tr>
      <td>Türü:</td>
      <td><input name="textfield5" type="text" id="textfield5" size="60" /></td>
    </tr>
    <tr>
      <td>Yayın Evi:</td>
      <td><input name="textfield6" type="text" id="textfield6" size="60" /></td>
    </tr>
    <tr>
      <td>Baskı Sayısı:</td>
      <td><input name="textfield7" type="text" id="textfield7" size="60" /></td>
    </tr>
    <tr>
      <td>Geliş Tarihi:</td>
      <td><input name="textfield8" type="text" id="textfield8" size="60" /></td>
    </tr>
    <tr>
      <td>Stok Sayısı:</td>
      <td><input name="textfield9" type="text" id="textfield9" size="60" /></td>
    </tr>
    <tr>
      <td>
          <asp:Label ID="sayac" runat="server" Text="Label"></asp:Label>
        </td>
      <td><label>
        <input type="submit" name="button" id="button" value="Kaydet" />
        <input type="reset" name="button2" id="button2" value="İptal" />
      </label></td>
    </tr>
  </table>
    </form>
  <br />
  <br />
  <br />
</div>
</div>
</body>
</html>