﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script runat="server">

    Protected Sub Page_Load(sender As Object, e As EventArgs)

    End Sub
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kütüphane Otomasyonu</title>
<style type="text/css">
    <!--
body {
	background-image: url('images/px1.jpg');
        height: 817px;
    }
#ortala {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
        height: 488px;
        margin-bottom: 214px;
    }
#ortala #orta {
	background-color: #FFF;
	border: thin solid #BFCDDB;
        height: 650px;
    }
    .auto-style1 {
        border-width: 0px;
        width: 799px;
        height: 37px;
    }
    .auto-style2
    {
        width: 799px;
        height: 150px;
    }
    .auto-style3 {
        width: 100%;
    }
    .auto-style4 {
        width: 155px;
        height: 226px;
    }
    .auto-style6 {
        width: 155px;
        height: 226px;
    }
    .auto-style8 {
        width: 155px;
        height: 226px;
    }
    .auto-style9 {
        width: 155px;
        height: 226px;
        margin-left: 3px;
    }
    .auto-style10 {
        width: 238px;
    }
    .auto-style11 {
        width: 251px;
    }
    .auto-style12 {
        width: 240px;
    }
    .auto-style13 {
        width: 155px;
        height: 226px;
    }
    .auto-style14 {
        width: 155px;
        height: 226px;
    }
    .auto-style15 {
        width: 155px;
        height: 226px;
    }
    .auto-style16 {
        width: 155px;
        height: 226px;
    }
-->
</style></head>

<body>
    <form id="form1" runat="server">
<div id="ortala">
    <img alt="" class="auto-style2" src="image1/banner.png" />
    
    <a href="WebForm3.aspx">
    
    <img alt="" class="auto-style1" src="image1/menu.png" /></a>
    <br />


<div id="orta"><br />
  <table width="528" border="0" align="center">
    <tr>
      <td width="37">Kitap:</td>
      <td width="120"><input name="textfield" type="text" id="textfield" size="20" /> </td>
      <td width="51">Yazar:</td>
      <td width="125"><input name="textfield2" type="text" id="textfield2" size="20"/></td>
      <td width="49">Barkod:</td>
      <td width="120"><input name="textfield3" type="text" id="textfield3" size="20"/></td>
      
    </tr>
    </table>
    <table class="auto-style3">
        <tr>
            <td class="auto-style12">
                <img alt="" class="auto-style4" src="image1/sabah%20uykum.PNG" /></td>
            <td class="auto-style11">
                <img alt="" class="auto-style6" src="image1/kocan.PNG" /></td>
            <td class="auto-style10">
                <img alt="" class="auto-style8" src="image1/gece.PNG" /></td>
            <td>
                <img alt="" class="auto-style9" src="image1/bukre.PNG" /></td>
        </tr>
        <tr>
            <td class="auto-style12">
                <asp:Label ID="Label1" runat="server" Text="12.0 TL"></asp:Label>
            </td>
            <td class="auto-style11">
                <asp:Label ID="Label2" runat="server" Text="14.99 TL"></asp:Label>
            </td>
            <td class="auto-style10">
                <asp:Label ID="Label3" runat="server" Text="19.99 TL"></asp:Label>
            </td>
            <td>
                <asp:Label ID="Label4" runat="server" Text="12.0 TL"></asp:Label>
            </td>
        </tr>
        <tr>
            <td class="auto-style12">
                <img alt="" class="auto-style13" src="image1/çanakkale.PNG" /></td>
            <td class="auto-style11">
                <img alt="" class="auto-style14" src="image1/ulus.PNG" /></td>
            <td class="auto-style10">
                <img alt="" class="auto-style15" src="image1/bir%20kadın.PNG" /></td>
            <td>
                <img alt="" class="auto-style16" src="image1/saguk%20kahve.PNG" /></td>
        </tr>
        <tr>
            <td class="auto-style12">
                <asp:Label ID="Label5" runat="server" Text="30.00 TL"></asp:Label>
            </td>
            <td class="auto-style11">
                <asp:Label ID="Label6" runat="server" Text="9.0 TL"></asp:Label>
            </td>
            <td class="auto-style10">
                <asp:Label ID="Label7" runat="server" Text="25.0 TL"></asp:Label>
            </td>
            <td>
                <asp:Label ID="Label8" runat="server" Text="15.0 TL"></asp:Label>
            </td>
        </tr>
    </table>
  <br />
  <br />
  <br />
  <br />
</div>
</div>
    </form>
</body>
</html>
